.venv
pgdata
__pycache__
.venv
pgdata
__pycache__
prod.env
prod_pgdata
airflow-plugin.env
airflow-mcp.env
langchain-fastapi.env
falkordb_data
neo4j_data
.venv
*.docx
!additional_context/additional_context.docx
fastapi/llm_output.txt
fastapi/images_english.json
fastapi/converted_document.md
fastapi/images
__pycache__
.terraform
.terraform.lock.hcl
fastapi/schema_generation_files
fastapi/markdown_common_schema.md
pgdata
logs
private.env
.private.env
.DS_Store
dbt_graph_loader.egg-info
.vscode
.cubestore
.private.env
DbtEducationalDataProject/dbt_packages